body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.header{
    flex-grow:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0 240px;
}

.header p{
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;
}

.header .links{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    color: #E5E7EB
}

.one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    background-color: #1F2937;
    padding: 96px 240px;
}

.one h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    letter-spacing: 0;
    margin-bottom: 12px;
}

.one p{
    font-size: 18px;
    color: #E5e7eb;
}

.left{
    width: 450px;
}

.right{
    width: 650px;
    height: 300px;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 7px;
    padding: 8px 24px;
}