body{
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.header{
    flex-grow:0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
}

.header p{
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;
}

.header .links{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    color: #E5E7EB
}